#logo a {
	padding: 0;
}
#logo a img {
    max-width: 180px;
    padding-top: 15px;
    box-shadow: none ! important;
}

#about .cteh-logo{
	width:300px !important;
	margin-top: 27px;
}

.diversity-header{
	font-size:3em;
	padding-top:3%;
}

.menu-item{
    cursor: pointer;
}
.nav-right-items{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 700px;
}
#nav{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: space-evenly;
}
.experiences{
    margin-top: 100px;
    margin-right: 100px;
    gap:200px;
    /* height: 200px; */
}
/* #center-item{
    width: 150px;
    height: 50px;
    left: 50%;
} */
#btn{
    margin-left: 10px;
    width:120px;
    height:30px;
    background-color:#ff6900;
    border-radius: 15px;
    color:white;
    border: 0px;
font-size: small;
    /* padding: 8px; */
}
.diversity-quote{
	font-size: 0.9375rem;
	font-family: 'futura-pt',Helvetica,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4f6f18;
}
.job-btn{
    font-weight: 400!important;
   font-family: 'futura-pt-condensed',Helvetica,sans-serif;
     font-size: 1.8em;
   color: white;
   border: 1px solid white;
   background: #4f6f18;
   text-align: center;
   outline: 8px solid #4f6f18; 
  
}
.job-btn:hover { font-family: 'futura-pt-condensed',Helvetica,sans-serif;
     font-size: 1.8em;
   color: white;
   border: 1px solid white ;
   background: #5c811d;
   text-align: center;
   outline: 8px solid #5c811d; 
    
  }
.contact-form input, .contact-form select, .contact-form textarea{
       font-size: 18px;
   font-size: 1.125rem;
   width: 100%;
   height: 40px;
   font-family: 'futura-pt',Helvetica,Arial,sans-serif;
   border: 1px solid #cdcdcd;
}
.contact-form textarea{	
   height: auto;
}
.contact-form input[type=submit] {
   padding: 12px 24px 10px;
   padding: 0.75rem 1.5rem 0.625rem;
   font-size: 16px;
   font-size: 1rem;
   font-family: 'futura-pt',Helvetica,Arial,sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   color: #FFFFFF;
   background: #4f6f18;
   border: none;
       width:160px
}
.contact-form input[type=submit]:hover {
   background: #69843a;
}
#fansican-page .paragraph-heading, #casa-page .paragraph-heading {
   font-size: 1.875rem;
   color: #4f6f17;
}


   .contact-flex {
       display: flex;
       align-items: center;
       justify-content: space-between;
   }

   .wpcf7 .ajax-loader{
       display:none
   }